@import "@opencode-ai/ui/styles/tailwind";

:root {
  a {
    cursor: default;
  }
}

[data-component="markdown"] ul {
  list-style: disc outside;
  padding-left: 1.5rem;
}

[data-component="markdown"] ol {
  list-style: decimal outside;
  padding-left: 1.5rem;
}

[data-component="markdown"] li > p:first-child {
  display: inline;
  margin: 0;
}

[data-component="markdown"] li > p + p {
  display: block;
  margin-top: 0.5rem;
}

*[data-tauri-drag-region] {
  app-region: drag;
}

.session-scroller::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.session-scroller::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 5px !important;
}

.session-scroller::-webkit-scrollbar-thumb {
  background: var(--border-weak-base) !important;
  border-radius: 5px !important;
  border: 3px solid transparent !important;
  background-clip: padding-box !important;
}

.session-scroller::-webkit-scrollbar-thumb:hover {
  background: var(--border-weak-base) !important;
}

.session-scroller {
  scrollbar-width: thin !important;
  scrollbar-color: var(--border-weak-base) transparent !important;
}
